<section id = "servicio">
    <h2 class="subtitulo" style="color: black;">Sobre nosotros</h2>

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/bRFGC5M/Be-SO-sin-letras.png" width="400px" height="300px" alt="Be-SO-sin-letras" border="0"></a>
          </div>
          <div class="col">
            <div class="service">
                <h3 class="n-service"> <span class="number">1</span> Desarrollo Web </h3>
                <p>
                    Creación de aplicaciones de una página, usando las tecnologías Spring Boot + Angular, desarrollando frontend y backend 100% funcional y a medida del cliente.
                </p>
            </div>
            <div class="service">
                <h3 class="n-service"> <span class="number">4</span> Desarrollo de Videojuego </h3>
                <p>
                    Desarrollamos el videojuego que el cliente requiera, teniendo como base Unity Engine y sus prestaciones, modelado y animación 3D en Blender, y guión en caso de ser necesario escritó personalmente por BSA.
                </p>
            </div>
            <div class="service">
                <h3 class="n-service"> <span class="number">3</span> Modelado 3D y animación </h3>
                <p>
                    Creamos modelos 3D usando Blender como entorno de creación fullsuite, desde la creación del modelo base, las texturas, las animaciones y los efectos especiales que puedan ser requeridos.
                </p>
            </div>
          </div>
        </div>
      </div>

</section>
