
<!--<section *ngIf='6>5' class="bloque" id = "bloque">-->

<section *ngIf='getAdmin()==true' style="text-align: justify;">
    <h1 class='titulo'>
        Logged como admin
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/512px-Flat_cross_icon.svg.png?20170316053531" 
        style="text-align: right; width: 40px; height: 40px;" 
        onmouseenter="style='cursor: pointer; text-align: right; width: 40px; height: 40px;'"
        onmouseleave="style='cursor: auto; text-align: right; width: 40px; height: 40px;'"
    onclick="
        localStorage.setItem('admin', 'false');
        location.assign('../home');
        ">
    </h1>
</section>

<!-- Para testeo del funcionamiento de la función
<section *ngIf='checklogin();'>
    <textarea name="" id="" cols="30" rows="10" >validado</textarea>
</section>
-->

<!-- Para testeo del loggeado
<div *ngIf='loggedUsuario!=null'>Loggeado como {{loggedUsuario.nombre}}</div>
-->
    
<router-outlet></router-outlet>

<!--<div class="container"><router-outlet></router-outlet></div>!-->


<!--</section>-->