<h1 class="titulo">Convirtiendo sueños en realidad</h1>

<!--Sobre nosotros o componente info-->
<app-info ></app-info>
<br><br>


<section class="gallery" id="portfolio">
    <div class="contenedor">
        <h2 class="subtitulo">Galeria</h2>
    </div>
    <div class="contenedor-galeria">        
        <img src="https://i.ibb.co/K28qYxn/Haru001.png"
            alt="" class="img-galeria" onclick="aparecerImagen(this.src);">

        <img src="https://i.ibb.co/9pHJmcf/Guild-Image-4096x2304.png" alt="Guild-Image-4096x2304" border="0" class="img-galeria" onclick="aparecerImagen(this.src);">

        <img src="https://i.ibb.co/YB8KqxZ/BSO-logo-512x512.png" alt="BSO-logo-512x512" border="0"  class="img-galeria" onclick="aparecerImagen(this.src);">
    </div>

    <br><br><br><br>
</section>


<section class="imagen-light">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/512px-Flat_cross_icon.svg.png?20170316053531
        " alt="" class="close" onclick="ocultarImagen();">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp-k3XjliFA3hl66J1UbDjkykIm7oHGLyFLA&usqp=CAU" alt="" class="agregar-imagen">
</section>

<section class="contenedor" id="expertos">
    <h2 class="subtitulo">Expertos en:</h2>
    <section class="experts">
        <div class="cont-expert">
            <img src="https://i.ibb.co/sjQX0Ch/codigo.png" alt="codigo" border="0" alt="" style="border-radius: 9px; max-width: 200px; object-fit: fill;">
            <h3 class="n-expert">Desarrollo</h3>
        </div>
        <div class="cont-expert">
            <img src="https://i.ibb.co/xLCL2yp/512-x-512-icon.png" alt="512-x-512-icon" border="0" style="border-radius: 9px; max-width: 200px; object-fit: fill;">
            <h3 class="n-expert">Diseño</h3>
        </div>
        <div class="cont-expert">
            <img src="https://i.ibb.co/YB8KqxZ/BSO-logo-512x512.png" alt="BSO-logo-512x512" border="0" style="border-radius: 9px; max-width: 200px; object-fit: fill;">
            <h3 class="n-expert">Escritura</h3>
        </div>
    </section>

    <br><br><br><br><br><br>
</section>