
<section style="text-align: center;">
    <h1 class="titulo">Bienvenidos a XP'share Database</h1>
    <h5>Nos encargamos de difundir tus conocimientos, tus proyectos, y a encontrar gente interesada en lo que te apasiona con el fin de compartir experiencias juntos.</h5>

    <p style="text-align: center;">
        <img src="https://cdn.pixabay.com/photo/2020/03/20/21/04/gimp-4952017_960_720.png
            " alt="" width=50%>
    </p>
  

</section>

<section style="margin-bottom: 300px;">

    <table align="center" style="width: 80%; max-width: 600px; text-align: center;">

            <ul class="list-group list-group-flush" style="border-radius: 40%">
                <li class="list-group-item" href="../registrar" routerLink="../registrar" onmouseenter='style="cursor: pointer; background: #f2f2f2;"' onmouseleave='style="background: #ffffff;"'>
                    <div>
                        <h3>Registrarme</h3>
                        <p>Registrate para compartir tus experiencias y dar consejos y tutela a otros XP'sharers</p>
                        <br>
                    </div>
                </li>
                <li class="list-group-item boton-" href="../login" routerLink="../login" onmouseenter='style="cursor: pointer; background: #f2f2f2;"' onmouseleave='style="background: #ffffff;"'>
                    <div>
                        <h3>Ingresar</h3>
                        <p>Ingresa a tu portfolio usando tu usuario y contraseña una vez te hayas registrado</p>
                        <br>
                    </div>
                </li>
                <li class="list-group-item" href="../usuarios" routerLink="../usuarios" onmouseenter='style="cursor: pointer; background: #f2f2f2;"' onmouseleave='style="background: #ffffff;"'>
                    <div>
                        <h3>Ver Porfolios</h3>
                        <p>Mira la lista de porfolios registrados en XP'sharers de otros usuarios</p>
                        <br>
                    </div>
                </li>
            </ul>
    </table>

</section>
